@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 25% 95%;
    --foreground: 207 36% 15%;
    --card: 36 25% 98%;
    --card-foreground: 207 36% 15%;
    --popover: 36 25% 98%;
    --popover-foreground: 207 36% 15%;
    --primary: 0 71% 32%;
    --primary-foreground: 36 25% 98%;
    --secondary: 36 15% 90%;
    --secondary-foreground: 207 36% 15%;
    --muted: 36 15% 90%;
    --muted-foreground: 207 36% 40%;
    --accent: 207 36% 32%;
    --accent-foreground: 36 25% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 15% 85%;
    --input: 35 15% 85%;
    --ring: 0 71% 32%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 207 36% 10%;
    --foreground: 36 25% 95%;
    --card: 207 36% 12%;
    --card-foreground: 36 25% 95%;
    --popover: 207 36% 10%;
    --popover-foreground: 36 25% 95%;
    --primary: 0 71% 32%;
    --primary-foreground: 36 25% 98%;
    --secondary: 207 36% 15%;
    --secondary-foreground: 36 25% 95%;
    --muted: 207 36% 15%;
    --muted-foreground: 36 25% 80%;
    --accent: 34 32% 73%;
    --accent-foreground: 207 36% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 36% 20%;
    --input: 207 36% 20%;
    --ring: 0 71% 32%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
